body{
    overflow: hidden;
}

ul{
    list-style-type: none;
    margin-top: 3rem;
    padding: 0;
    overflow: hidden;
}

h4{
    margin-top: 1rem;
}

.nav-buttons{
    display: inline-block;
    transition: transform .1s ease-in-out;
    padding-top: 0.5rem;
}

.nav-buttons:hover{
    transform: scale(1.1);
    height: 2.5rem;
}

.menu{
    text-decoration: none;
    color: white;
    padding: 2rem;
}

.menu:hover{
    text-decoration: none;
    background-color: #63A994;
    color: white;
    text-decoration: bold;
}

.left{
    background-repeat: no-repeat;
    background-size: 100% 100%;
    opacity: 0.7;
    margin: 0;
    padding: 0;
    height: 100vh;
    align-items: center;
    border-left: solid 1.2rem #BFBD9E;
    overflow: auto;
}

.right{
    padding-top: 12rem;
    background-image: url("../images/code.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.right-text{
    text-align: left;
}

.container-fluid{
    margin: 0;
    padding: 0;
    text-align: center;
}

.icons{
    color: #42A1BA;
    font-size: 3.5rem;
    margin-top: 2rem;
}

.icons-c{
    color: #42A1BA;
    font-size: 5rem;
    margin-top: 3.5rem;
    padding: 4rem;
}

.icons-f{
    color: #727472;
    font-size: 2.5rem;
    margin-top: 3.5rem;
    padding: 2rem;
}

.icons-f:hover{
    color: #BABFBB;
}

.title{
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: #63C1A2;
}

.skills{
    margin-top: 2rem;
}

.col{
    min-height: 3rem;
    display: flex;
    padding-left: 2.5rem;
}

.card{
    max-height: 100%;
}

.card-img-top{
    height: 10rem;
    width: 23rem;
}

/*scrollbar*/

/* width */
::-webkit-scrollbar {
    width: 0.3rem;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #727472;  
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: black;
  }