body{
    overflow-y: hidden;
    overflow-x: hidden;
}

ul{
    list-style-type: none;
    margin-top: 3rem;
    padding: 0;
    overflow: hidden;
}

h4{
    margin-top: 1rem;
}

.nav-buttons{
    display: inline-block;
    transition: transform .1s ease-in-out;
    padding-top: 0.5rem;
}

.nav-buttons:hover{
    transform: scale(1.1);
    height: 2.5rem;
}

.menu{
    text-decoration: none;
    color: black;
    padding: 2rem;
}

.menu:hover{
    text-decoration: none;
    background-color: #63A994;
    color: white;
    text-decoration: bold;
}

.left{
    background-repeat: no-repeat;
    background-size: 100% 100%;
    opacity: 0.7;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    align-items: center;
    border-left: solid 4rem #BFBD9E;
}

.right{
    padding-top: 12rem;
    background-color: #BFBD9E;
}

.right-text{
    text-align: left;
}

.container-fluid{
    margin: 0;
    padding: 0;
    text-align: center;
}

.icons{
    color: #42A1BA;
    font-size: 3.5rem;
    margin-top: 2rem;
}

.icons-c{
    color: #42A1BA;
    font-size: 5rem;
    margin-top: 3.5rem;
    padding: 4rem;
}

.title{
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: #63C1A2;
}

.skills{
    margin-top: 2rem;
}